spring:
  application:
    name: microservice-club

  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret: ${JWT_SECRET:defaultUnsecureKeyForDevelopmentOnlyChangeInProduction}
  token-validity-in-seconds: ${JWT_TOKEN_VALIDITY:86400}

server:
  port: ${SERVER_PORT:8086}

springdoc:
  api-docs:
    path: /api
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    org.example.microserviceuser: INFO
    org.springframework.security: DEBUG